.input1 {
    background-color: #735F32;
    border: none;
    border-radius: 8px;
    width: 100%;
    margin: 20px;
    padding: 16px;
    outline: none;
    color: #FFFFFF;
}

.input1::placeholder{
    color: #282A3A;
    font-weight: 500;
}


.input2 {
    border-radius: 0px;
    width: 60%;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #ffffff77;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.2rem;
}

.input2::placeholder{
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 500;
}