@media only screen and (max-width: 600px) {
    .container {
        background-color: #282A3A;
    }

    .leaderboard {
        padding: 16px;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: #282A3A;
        margin: 12px 0px 0px 0px;
        gap: 20px;
    }
}