.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 12px 20px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}