*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

body {
  font-family: 'InstrumentSans';
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

@font-face{
  font-family: 'InstrumentSans';
  src: url(./assets/fonts/InstrumentSans.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}