.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.changeAttributes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    width: 100%;
}

.button {
    border-radius: 8px;
    border: none;
    padding: 4px;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

.attributes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
}

.text {
    color: #FFFFFF;
}

.attributesText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #C69749;
    margin-bottom: 4px;
}

